#ChatBox{
 overflow-y: auto;
 height: 650px;
 border-color: black;
 border-width: 2px;
 border-style: solid;
 border-radius: 10px 10px 10px 10px;
margin-bottom: 15px;
}

.ChatForm{
padding: 10px;
height: 40px;
border-color: black;
border-width: 2px;
border-style: solid;
border-radius: 10px 10px 10px 10px;
position: relative;
flex-direction: row;
text-align: center;

}
.chat-head{
    padding: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 15px;

}

.chattingBox{
  
    width: 70%;
    margin-right:10px;
}

.transmit{
    color: white;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    font-weight: bold;
}

.msgContent{

   margin: 10px;
   width: inherit;
   height: 20px;
   padding: 10px;
   background-color: gold;
   border-radius: 10px 10px 10px 10px;
}

.mButton{
    width: 80px;
    height: 38px;
    display: inline;
    background-color: black;
    
 
   
}
.mButton:hover {
    cursor: pointer;
    background-color: gray;
}

.text{
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    font-weight: bold;
    
}


.NameBoxIn{
    display: inline;
    width: 100px;

}

.RoomBoxIn{
    display: inline;
    width: 100px;

}