.menu_list{    
    display: flex;
    flex-direction: column;
}

.menu_item{
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding: 5px;
}

.menu_link{
    text-decoration: none;
    color: black;
}

.aStyle:link{

    text-decoration: none;
  
}


.aStyle:visited{
    color: black;
    text-decoration: none;
}


/* .nav-container {
    display: flex;
    flex-direction: row;
    min-width: 10vh;
    padding-left: 20px;
    margin: 0;
    background-color: white;
}

.nav-list:nth-child(1) {
    background-color: lightgrey;
} 

.nav-list:hover {
    background-color: lightgray;
}

.nav-item {
    text-align: right;
    text-decoration: none;
    color:darkblue;
} */ 

.group_name{
    font-weight: bold;   
    font-size: 30px;
}

.add_btn{
    margin-left: 20px;
}

.menu_list li ul{
    display: none;
}

.menu_item:hover ul{
    display: block;
}