.HeaderStyle{
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  padding-left: 30px;
}

.FooterStyle{
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}