.zu0p{
    height: inherit;
}

.my_content{
    position: relative;
    width: 100%;
    height: inherit;
    background-color: white;
}

.left{
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-left: 20px;
    color: darkblue;    
}

.client_channels_list_container{    
    position: relative;
    display: flex;
    flex-direction: row;
}

/* 
.groups_nav_container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 220px;
    flex-shrink: 0;
    min-width: 1px;
    max-width: 100px;
    z-index: 201;
    box-sizing: content-box;
    visibility: visible;
    background-color: darkgray;
} */

.menu_nav_container{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    background-color: white;
    box-sizing: inherit;
    padding: 10px;
}

.client_main_container{
    position: relative;
    display: inline-block;
    margin-left: 50px;
    height: inherit;
    width: 100%;
}
