
.my_content{
    position: relative;
    min-height: 900px;
    background-color: gray;
    display: flex;
}
.client_channels_list_container{    
    position: relative;
    display: flex;
    flex-direction: row;
}
.menu_nav_container{
    position: relative;
    flex-direction: column;
    background-color:white;
    box-sizing: inherit;
    padding: 10px;
    margin: 25px;

}

.client_main_container{
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 20px; 
    width: 100%;
    margin: 25px;
   
}
/* 
.groups_nav_container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 220px;
    flex-shrink: 0;
    min-width: 1px;
    max-width: 100px;
    z-index: 201;
    box-sizing: content-box;
    visibility: visible;
    background-color: darkgray;
} */
