.loginPanel {
    font-family: sans-serif;
    position:absolute; 
    margin-top:40px;
    margin-left:40%;
    width:400px; height:300px; 
}

legend {
    padding: 1em;
}
.loginPanel .CatSixLogo{
    text-align: center;
}  
  
.loginPanel form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
  
.loginPanel label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 22px;
}
  
.loginPanel input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
}
  
.loginPanel button {    
    font-size: 15px;
    font-weight: bold;
    width: 170px;
    height: 40px;
    border-radius: 5px;
    background-color: white; 
    color: rgb(78, 78, 78);
    border: 2px solid rgb(78, 78, 78);
    margin: 15px;
}
  
.loginPanel button:hover {
    cursor: pointer;
    background-color: rgb(241, 210, 71);
    border: 2px solid rgb(241, 210, 71);
    color: black;
}

  